.lateral {
  display: flex;
  align-items: center;
  gap: 8px;
}

.main {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  height: 36px;
  flex-basis: 60px;
  flex-shrink: 0;
  flex-grow: 1;
}

.btn {
  border-radius: 4px;
  margin-right: 10px;
}

.disabled() {
  color: #C9CCD0;
  pointer-events: none;
  cursor: not-allowed;
}

.doWrapper {
  .lateral();
  gap: 4px;
}

.iconBtn {
  padding: 4px;
  height: 24px;
  width: 24px;
  border-radius: 6px;
  svg {
    font-size: 16px;
  }
  color: #61666D;
  &.selected {
    color: #1A4BFF;
    background-color: rgba(76, 109, 228, 0.10);
    &:hover {
      background-color: rgba(76, 109, 228, 0.10);
    }
  }
  &.disabled {
    .disabled();
  }
  &:hover {
    background-color: #F6F7F8;
  }
}

.leftBtnWrapper {
  .lateral();
  flex-grow: 1;
  flex-shrink: 0;
  &.disabled {
    .iconBtn {
      .disabled();
    }
  }
}

.rightBtnWrapper {
  .lateral();
  padding: 0 12px;
  width: 280px;
  flex-shrink: 0;
  justify-content: flex-end;
  :global {
    .ant-radio-button-wrapper {
      border-color: #F6F7F8;
      color: #9499A0;
      background-color: #F6F7F8;
      &.ant-radio-button-wrapper-checked {
        border-color: #1A4BFF;
        background-color: #1A4BFF;
      }
    }

  }
}

.divider {
  margin: 0;
  border-radius: 7px;
  border-color: #F1F2F3;
  height: 12px;
}