@gap: 10px;

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topBar {
  display: flex;
  align-items: center;
}

.editArea {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
}

.draggableArea {
  display: flex;
  flex-grow: 1;
  overflow: auto;
  align-items: stretch;
}

.panel {
  width: 200px;
}

.canvas {
  position: relative;
  flex-grow: 1;
  padding: @gap;
  overflow: auto;
  background: #e3e3e3;
}

.canvasInner {
  position: absolute;
  top: @gap;
  right: @gap;
  bottom: @gap;
  left: @gap;
  z-index: 9;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: #fff;
}

.formPanel {
  flex-shrink: 0;
  width: 320px;
}

.pagePanel {
  height: 240px;
  border-bottom: 1px solid #dbdbdb;
  overflow: auto;
}

.componentTree {
  flex-grow: 1;
}
