@gap: 10px;

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.editArea {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
}

.draggableArea {
  display: flex;
  flex-grow: 1;
  overflow: auto;
  align-items: stretch;
}

.panel {
  padding: 10px;
  width: 261px;
  border-right: 1px solid #dbdbdb;
}

.canvas {
  position: relative;
  flex-grow: 1;
  padding: @gap;
  overflow: auto;
  background: #e3e3e3;
}

.canvasInner {
  position: absolute;
  top: @gap;
  right: @gap;
  bottom: @gap;
  left: @gap;
  z-index: 9;
  overflow: auto;
  background: #fff;
}

.formPanel {
  flex-shrink: 0;
  width: 260px;
  border-left: 1px solid #dbdbdb;
}

.pagePanel {
  height: 240px;
  border-bottom: 1px solid #dbdbdb;
  overflow: auto;
}

.componentPanel {
  flex-grow: 1;
}
