.projectTree {
  padding: 4px 8px;
  :global {
    .ant-tree-title {
      flex-grow: 1;
    }
    .ant-tree-node-content-wrapper {
      display: flex;
    }
  }
}

.templatePortals {
  display: inline-block;
}