.main {
  transition: border 0.5s ease-in-out;
  box-sizing: border-box;
  outline-width: 2px;
  outline-style: none;
}

.isOver {
  outline-style: dotted;
  outline-color: #7193f1;
}

.selected {
  outline-style: solid;
  outline-color: #f00;
}