.draggableForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 12px;
  width: 280px;
}

.addItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4px 12px;
  .title {
    line-height: 16px;
    font-weight: 500;
    color: #18191C;
  }
}

.operationIcon {
  width: 16px;
  height: 16px;
  &:hover {
    cursor: pointer;
  }
  svg {
    font-size: 16px;
  }
}

.addIcon,
.removeIcon {
  margin-left: auto;
  .operationIcon();
}

.draggableIcon {
  .operationIcon();
}

.draggableFromItem {
  width: 256px;
  max-height: 76px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #F6F7F8;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  padding: 4px 0;
}

.componentSelector {
  height: 32px;
  padding: 4px 0;
}


.placeholder {
  height: 36px;
  width: 240px;
  padding: 6px 4px;
}

.placeholderText {
  line-height: 24;
  color: #9499A0;
}

.config {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 36px;
  padding: 6px 4px;
  gap: 16px;
}

.hintText {
  flex-shrink: 0;
  flex-basis: 88px;
  line-height: 24px;
  color: #9499A0;
}

.textValue {
  .hintText();
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.divider {
  border-color: #F1F2F3;
  margin: 12px 0;
}
