@font-face {
  font-family: 'iconfont';  /* Project id 4341626 */
  src: url('@/assets/iconfont/iconfont.woff2') format('woff2'),
  url('@/assets/iconfont/iconfont.woff') format('woff'),
  url('@/assets/iconfont/iconfont.ttf') format('truetype'),
  url('@/assets/iconfont/iconfont.svg') format('svg');
}

@font-face {
  font-family: "iconfont"; /* Project id 4341626 */
  src: url('//at.alicdn.com/t/c/font_4341626_nmviiatkia.woff2?t=1700652382954') format('woff2'),
  url('//at.alicdn.com/t/c/font_4341626_nmviiatkia.woff?t=1700652382954') format('woff'),
  url('//at.alicdn.com/t/c/font_4341626_nmviiatkia.ttf?t=1700652382954') format('truetype'),
  url('//at.alicdn.com/t/c/font_4341626_nmviiatkia.svg?t=1700652382954#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gaodu-guding:before {
  content: "\e652";
}

.icon-bujuweizhi-zongxiang-duan:before {
  content: "\e653";
}

.icon-zongxiangshunpaibu:before {
  content: "\e637";
}

.icon-zuobianju:before {
  content: "\e638";
}

.icon-bianju:before {
  content: "\e639";
}

.icon-xiankuang-zhixian:before {
  content: "\e63a";
}

.icon-xiankuang-cuxi:before {
  content: "\e63b";
}

.icon-hengxiangshunpaibu:before {
  content: "\e63c";
}

.icon-shangxiabianju1:before {
  content: "\e63d";
}

.icon-gaodu-shiyingkuochong:before {
  content: "\e645";
}

.icon-gaodu-jincouneirong:before {
  content: "\e646";
}

.icon-danduyuanjiao:before {
  content: "\e647";
}

.icon-bujuweizhi-hengxiang-xia:before {
  content: "\e648";
}

.icon-yuanjiao-youxia:before {
  content: "\e649";
}

.icon-tianjia:before {
  content: "\e64a";
}

.icon-kuandu-shiyingkuochong:before {
  content: "\e64b";
}

.icon-kuandu:before {
  content: "\e64c";
}

.icon-shanchu:before {
  content: "\e64d";
}

.icon-jiantou-huanhang:before {
  content: "\e64e";
}

.icon-gaodu:before {
  content: "\e64f";
}

.icon-bujuweizhi-zongxiang-zhong:before {
  content: "\e650";
}

.icon-bujuweizhi-hengxiang-chang:before {
  content: "\e651";
}

.icon-bujuweizhi-zongxiang-zuo:before {
  content: "\e61e";
}

.icon-zhonghuaxian:before {
  content: "\e61f";
}

.icon-kuandu-jincouneirong:before {
  content: "\e620";
}

.icon-shangxiajianju:before {
  content: "\e621";
}

.icon-touying:before {
  content: "\e622";
}

.icon-yuanjiao-zuoshang:before {
  content: "\e623";
}

.icon-zuoduiqi:before {
  content: "\e624";
}

.icon-zhankai:before {
  content: "\e625";
}

.icon-jiantou-xiangxia:before {
  content: "\e626";
}

.icon-bujuweizhi-hengxiang-zhong:before {
  content: "\e627";
}

.icon-bujuweizhi-zongxiang-you:before {
  content: "\e628";
}

.icon-xiabianju-1:before {
  content: "\e629";
}

.icon-hengxiangjunfenpaibu:before {
  content: "\e62a";
}

.icon-youbianju-1:before {
  content: "\e62b";
}

.icon-zuoyoubianju1:before {
  content: "\e62c";
}

.icon-xieti:before {
  content: "\e62d";
}

.icon-jiacu:before {
  content: "\e62e";
}

.icon-shangbianju-1:before {
  content: "\e62f";
}

.icon-kuandu-guding:before {
  content: "\e630";
}

.icon-zuobianju-1:before {
  content: "\e631";
}

.icon-bujuweizhi-zongxiang-chang:before {
  content: "\e632";
}

.icon-bujuweizhi-hengxiang-duan:before {
  content: "\e633";
}

.icon-bujuweizhi-hengxiang-shang:before {
  content: "\e634";
}

.icon-shangbianju:before {
  content: "\e635";
}

.icon-zongxiangjunfenpaibu1:before {
  content: "\e610";
}

.icon-zongxiangliangduanduiqipaibu:before {
  content: "\e611";
}

.icon-xiahuaxian:before {
  content: "\e612";
}

.icon-yuanjiao-youshang:before {
  content: "\e60f";
}

.icon-juzhongduiqi:before {
  content: "\e60e";
}

.icon-yuanjiao-zuoxia:before {
  content: "\e613";
}

.icon-xiankuang-xuxian:before {
  content: "\e614";
}

.icon-jiantou-xiangyou:before {
  content: "\e615";
}

.icon-youbianju:before {
  content: "\e616";
}

.icon-youduiqi:before {
  content: "\e617";
}

.icon-hengxiangliangduanduiqipaibu:before {
  content: "\e618";
}

.icon-zuoyoujianju:before {
  content: "\e619";
}

.icon-xiankuang-sizhou1:before {
  content: "\e61a";
}

.icon-xiabianju:before {
  content: "\e61b";
}

.icon-jiantou-jinhuanhang:before {
  content: "\e61c";
}

.icon-zuoyoulaqi:before {
  content: "\e61d";
}

.icon-xiankuang-sizhou:before {
  content: "\e636";
}

.icon-xiabianju1:before {
  content: "\e63e";
}

.icon-shangbianju1:before {
  content: "\e63f";
}

.icon-shangxiabianju:before {
  content: "\e640";
}

.icon-zuobianju1:before {
  content: "\e641";
}

.icon-youbianju1:before {
  content: "\e642";
}

.icon-zongxiangjunfenpaibu:before {
  content: "\e643";
}

.icon-zuoyoubianju:before {
  content: "\e644";
}

