.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 12px;
  gap: 8px;
}

.icon {
  height: 24px;
  width: 24px;
  padding: 4px;
  cursor: pointer;
  color: #9499A0;
  &:hover {
    color: #1A4BFF;
  }
  svg {
    font-size: 16px;
  }
}