@import "../../../styles/index.module.less";

.main {
  :global {
    .ant-tabs-nav {
      margin-bottom: 0;
    }
  }
}

.tabContent {
  overflow: auto;
  height: calc(100vh - 122px);
  padding-right: 10px;
}
