.codePreview {
  margin: 10px auto !important;
  overflow: auto;
  border-radius: 8px;
  width: 900px;
  padding: 10px;
  height: calc(100vh - 90px);
  &,
  * {
    -webkit-user-select: initial; /* Safari */
    -moz-user-select: initial;    /* Firefox */
    -ms-user-select: initial;     /* Internet Explorer/Edge */
    user-select: initial;
  }
}