.selectOptions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: stretch;
}

.header {
  padding: 4px;
  height: 24px;
}

.optionContainer {

}

.removeIcon {
  margin-left: auto;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
}